<h2>Lista de categorias</h2>
<hr />
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categories}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{name}}</h4>
      <small>Slug: {{slug}}</small>
      <br />
      <small>Data de criação: {{date}}</small>
    </div>
    <a href="/admin/categorias/edit/{{_id}}"><button
        class="btn btn-success m-4"
      >Editar categoria</button></a>
    <form action="/admin/categorias/deletar" method="POST">
      <input type="hidden" name="id" value="{{_id}}" />
      <button type="submit" class="btn btn-danger ml-4">Deletar categoria</button>
    </form>
  </div>
{{else}}
  <div class="border border-warning p-3 m-5 text-center rounded">
    <h4>Nenhuma categoria registrada</h4>
  </div>
{{/each}}